:root {
    --brand-primary: #56C644;
    --secondary: #1D1B19;
}

$brand-primary: #56C644;
$secondary: #1D1B19;
$font-heading: 'Montserrat', sans-serif;
$font-body: 'Montserrat', sans-serif;
$max-width: 1262px;

$headerimg: '../img/landingbg.jpg'