:root {
    --brand-primary: #FA0B44;
    --secondary: #141414;
}

$brand-primary: #FA0B44;
$secondary: #333333;
$font-heading: 'Playfair Display', serif;
$font-body: 'Montserrat', sans-serif;
$max-width: 1262px;