/*
==========================================
=======  General Header Styling  ===========
==========================================
*/

@mixin beforeNavElement {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  transform: scalex(0);
  background: $brand-primary;
  bottom: 0;
  left: 0;
  transition: 0.2s;
  position: absolute;
}

// Logo woosh effect

.nt-header {
  width: 100%;
  position: absolute;
  z-index: 12;
  height: auto;
  padding: 10px 0px;
  transition: opacity 0.05s, padding 0.09s, 0.4s;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  &:hover{
    background-color:rgba(0,0,0,0.2); 
  }
  .navbar {
    width: 100%;

    .navbar-nav {
      width: 100%;
      justify-content: flex-start;
    }


    .nav-link {
      // text-transform: uppercase;
      margin-right: 10px;
      color: white;
      display: block;
      font-weight: bold;
      // font-size:1rem;
      // font-size: 0.875rem;
      letter-spacing: 1.2px;
      position: relative;
      transition: 0.2s;

      &:before {
        @include beforeNavElement;
      }
      &.active{
        color:$brand-primary;
      }

      &:hover {
        opacity: 1 !important;
        color: $brand-primary;

        &:before {
          transform: scalex(1);
        }
      }


    }
  }



  .active {
    opacity: 1 !important;
    color: $brand-primary;
  }

  .active:before {
    transform: scalex(1) !important;
  }

}

// Header Number
.header-number{
  color:white;
  font-size:25px;
}


//   mobile menu trigger


.navbar-collapse {
  background: $secondary;
  margin-top:20px;
  z-index: 99;
  position: relative;

  .navbar-nav {
    padding: 20px 30px;
  }
}



.mobile-square {
  background: $secondary;
  width: 48px;
  height: 48px;
  @extend %centering;
  border-radius: 0px;

  &.burger {
    // display:flex !important;
    justify-content: center;
    align-items: center;

    .mobile-burger {
      width: 100%;
    }

    &:hover:not(.activated) {
      span:before {
        top: -10px;
      }

      span:after {
        bottom: -10px;
      }
    }

    span {
      width: 100%;
      display: block;
      height: 2px;
      background: white;
      position: relative;

      @mixin burger-bar {
        content: '';
        display: block;
        background-color: white;
        width: 100%;
        height: 2px;
        position: absolute;
        transition: 0.2s;
      }

      &:before {
        @include burger-bar;
        top: -7px;
      }

      &:after {
        @include burger-bar;
        bottom: -7px;
      }

    }
  }
  &.quote{
    color:white;
    background-color:$brand-primary;
    &:hover{
      background-color:$secondary;

    }
  }
}

.activated {
  .mobile-burger {

    .burger-bars {
      height: 0px;

      &:before {
        transform: rotate(45deg);
        top: calc(25% - 1px);
      }

      &:after {
        transform: rotate(-45deg);
        bottom: calc(25% - 1px);
      }
    }
  }


}



// .quote {
//   @include button-color;
// }


// .mobile-header-icon {
//   display: block;
//   width: 48px;
//   height: 48px;
//   position: relative;
// }


.nt-header.scroll {
  background-color: $secondary;
  position: fixed;
}

.goDown {
  // transform: translateY(-100%);
  animation: goDown 0.2s forwards;
  // animation-delay: 1s;
}

.goUp {
  // transform: translateY(0);
  animation: goUp 0.2s forwards;
  // animation-delay: 1s;
}

@keyframes goDown {
  from {
    // opacity:0;
    transform: translateY(-100%);
  }

  to {
    // opacity:1;
    transform: translateY(0);
  }
}

@keyframes goUp {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}









// Quote and Language
.btn-quote {
  padding: 16px 40px;

  i {
    margin-right: 5px;
  }
}


// Web Services Banner Ara
strong {
  font-style: initial;
  font-weight: bold;
  ;
}

// .masthead {
//   // padding-top:150px;
//   background-image: url(../img/BannerBG.jpg);
//   background-size: cover;
//   width: 100%;
//   height: 750px;
//   color: white;
//   border-bottom: 10px solid $brand-primary;

//   .container {
//     height: 100%;
//     display: flex;
//     justify-content: center;
//     flex-direction: column;
//   }

//   .masthead--text {
//     transform: translateY(-50px);

//     h1 {
//       font-size: 60px;
//       color: white;
//       @extend %mb;

//       span {
//         font-weight: 400;
//       }

//     }

//     p {
//       font-size: 16px;
//     }
//   }

// }



/*
======================================================
================== Landing Header ====================
======================================================
======================================================
*/

.navbar-dark .navbar-nav .nav-link:focus{
  color:$brand-primary;
}

.layout-alt {

  .landing-text {
    min-height: 250px;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: 40px;
    }
  }



  .nt-header {
    z-index: 99;
  }

  .nt-header .navbar .navbar-nav {
    width: 88%;
  }




  .landing-header {
    position: relative;
    background-image:url('#{$headerimg}');
    padding: 134px 20px 200px 20px;
    color: white;
    overflow: hidden;
    .btn {
      padding: 16px 16px;

    }
    &:before{
      content:'';
      width: 100%;
      height:100%;
      display: block;
      background-color:rgba($secondary, 0.85);
      position: absolute;
      bottom:0;
      left:0;
      right: 0;
    }
  }

  .nt-person {
    position: absolute;
    right: -150px;
    bottom: 0;
    max-height: 450px;
    z-index: 1;
  }


}
