.welcome {
  position: relative;
  z-index: 2;
  width: 100%;
}

.welcome-text {
  background: $secondary;
  margin-top: -120px;
  margin-left: 0px;
  margin-right: 0px;
  position: relative;
  z-index: 1;
  color:white;
  padding:0px;
  .bodytext{
    padding: 50px 20px;
  }
  h3 {
    font-size: 35px;
    @extend %mb;
  }

  p {
    max-width: 825px;
  }

}

.nt-img{
  background-image:url('../img/logs.jpg');
  min-height: 250px;
  background-size: cover;
  background-position: center;
}

